.game{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
ul{
    display: flex;
    padding: 0;
}
li{
    padding: 10px;
    list-style: none;
}
button{
    display: flex;
    cursor: pointer;
    height: fit-content;
    padding: 0;
    border-style: none;
    background-color: transparent;
    transition: 0.2s;
}
button:hover{
    transform: scale(1.1);
    border-style: solid;
    border-color: rgb(247, 32, 53);
}

.results{
    text-align: center;
}

.replay-btn{
    border: solid;
    background-color: aliceblue;
}

.replay-btn:hover{
    border-color: rgb(44, 114, 114);
}

.score{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.status{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.health-bar{
    width: 100%;
    height: 20px;
    background-color: green;
}

.health-80{
    width: 80%;
    transition-duration: 1s;
}

.health-60{
    width: 60%;
    transition-duration: 1s;
}
.health-40{
    width: 40%;
    transition-duration: 1s;
}
.health-20{
    width: 20%;
    transition-duration: 1s;
}
.health-0{
    width: 0%;
    transition-duration: 1s;
}