.game{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
ul{
    display: flex;
    padding: 0;
}
li{
    padding: 10px;
    list-style: none;
}
button{
    display: flex;
    cursor: pointer;
    height: fit-content;
    padding: 0;
    border-style: none;
    background-color: transparent;
    transition: 0.2s;
}
button:hover{
    transform: scale(1.1);
    border-style: solid;
    border-color: rgb(247, 32, 53);
}

.results{
    text-align: center;
}

.replay-btn{
    border: solid;
    background-color: aliceblue;
}

.replay-btn:hover{
    border-color: rgb(44, 114, 114);
}